.nav {
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: white;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}
/* .nav.active {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
} */

.nav.hide {
  top: -180px !important;
}
#navi a.active {
  color: #2cb67d;
}
.nav-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: white;
  padding: 15px 0;
}

.brand {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
}
.brand span {
  color: #000000;
}
.brand span:hover {
  color: #402218;
}

.brand img {
  width: 150px;
  height: 50px;
  object-fit: cover;
}

.nav-burger {
  width: 30px;
  cursor: pointer;
}

.nav-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  visibility: hidden;
  margin-top: 10px;
}

.nav-menu a {
  padding: 10px 0;
  width: 100%;
  margin: 5px 0;
  color: black;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.nav-menu a:nth-child(6) {
  font-weight: bold;
}

.nav-menu.active {
  max-height: 200rem;
  opacity: 1;
  visibility: visible;
}

.nav-menu-dekstop {
  display: none;
}

@media screen and (min-width: 968px) {
  .nav-burger {
    display: none;
  }

  .nav-menu {
    width: inherit;
    display: flex;
    flex-direction: row;
    max-height: inherit;
    opacity: inherit;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    visibility: inherit;
    margin-top: inherit;
    /*background-color: */
  }

  .nav-menu a {
    font-size: 17px;
    padding: 10px 10px;
    margin: 0 10px;
    width: inherit;
    /*margin: 5px 0;*/
    cursor: pointer;
    display: inherit;
    position: inherit;
    display: flex;
    position: relative;
  }
  .nav-menu a:hover {
    color: #2cb67d;
  }
  /* Jika ingin menu di dekstop ada 3 */
  .nav-menu a:nth-child(5),
  .nav-menu a:nth-child(6) {
    display: none;
  }

  /*Jika ingin menu di dekstop ada sign up dan login, beri komentar script
        .nav-menu a:nth-child(5),
        .nav-menu a:nth-child(6) {
            display: none;
        }
      */

  .nav-menu-dekstop {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-menu-dekstop a {
    padding: 10px 25px;
    width: inherit;
    margin: 0 5px;
    /*margin: 5px 0;*/
    cursor: pointer;
    display: inherit;
    position: inherit;
    display: flex;
    position: relative;
    color: black;
  }
  .nav-menu img {
    width: 25px;
  }
  .nav-menu-dekstop a:nth-child(1) {
    border-radius: 30px;
    color: #2cb67d;
  }
  .nav-menu-dekstop a:nth-child(1):hover {
    background-color: #2cb67d;
    border: 2px solid #2cb67d;
    box-shadow: 0 5px 15px rgba(44, 182, 125, 0.5);
    color: #ffff;
    transition: 0.3s;
  }
  .nav-menu-dekstop a:nth-child(2) {
    border: 2px solid #2cb67d;
    border-radius: 30px;
    transition: 0.3s;
    color: #2cb67d;
  }
  .nav-menu-dekstop a:nth-child(2):hover {
    background-color: #2cb67d;
    box-shadow: 0 5px 15px rgba(44, 182, 125, 0.5);
    color: #ffff;
    transition: 0.3s;
  }
}